<h2>Agregar un Nuevo Famoso</h2>
    <form action="/celebrities/create" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" name="name">
        <br>
        <label for="occupation">Ocupación:</label>
        <input type="text" name="occupation">
        <br>
        <label for="catchPhrase">Eslogan:</label>
        <input type="text" name="catchPhrase">
        <button>Agregar</button>
    </form>