<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Agrega un Famoso</a>
<a href="/celebrities">Lista de Famosos</a>
<a href="/movies/create">Agrega una Película</a>
<a href="/movies">Lista de Películas</a>